<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.portfolio.site.category.mapper.CategoryMapper">

	<!-- 회원가입 -->
	<select id="categoryList" resultType="CategoryVO">
		select * from tb_category
	</select>
</mapper>