<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.portfolio.site.member.mapper.MemberMapper">

	<!-- 회원가입 -->
	<insert id="join" parameterType="MemberVO">
		insert into tb_member
			(userId, password, nickName) 
		values 
			(#{userId}, #{password}, #{nickName})
	</insert>
	
	<!-- 로그인 -->
	<select id="login" parameterType="String" resultType="MemberVO">
		SELECT userId, nickName, grade, failCnt FROM tb_member WHERE userId=#{userId} AND password=#{password}
	</select>
	
	<select id="userPwd" parameterType="String" resultType="String">
		SELECT password FROM tb_member WHERE userId=#{userId}
	</select>
	
	<!-- 로그인 실패시 카운트 증가 -->
	<update id="loginFail" parameterType="String" >
		UPDATE tb_member SET failCnt = (failCnt + 1) WHERE userId = #{userId}
	</update>
	
	<!-- 로그인시 failCnt 1 이상인 경우 초기화 -->
	<update id="failCntReset" parameterType="String" >
		UPDATE tb_member SET failCnt = 0 WHERE userId = #{userId}
	</update>
	
	
	
	
</mapper>