<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.portfolio.site.tech.mapper.TechBoardMapper">

	<!-- Tech 글쓰기 -->
	<insert id="write" parameterType="TechBoardVO">
		INSERT INTO tb_board_tech (title,content,writer) VALUES (#{title}, #{content}, #{writer})
	</insert>
	
	<select id="totalCount" resultType="int">
		SELECT COUNT(*) FROM tb_board_tech
	</select>
	
	<!-- Tech 리스트 -->
	<select id="techList" parameterType="Map" resultType="TechBoardVO">
		SELECT * FROM tb_board_tech ORDER BY idx DESC LIMIT #{startNo}, #{pageSize}
		
	</select>
	
	<!-- Tech 상세 -->
	<select id="techDetail" parameterType="int" resultType="TechBoardVO">
		SELECT * FROM tb_board_tech WHERE idx=#{idx}
	</select>
	
	<update id="techUpdate" parameterType="TechBoardVO">
		UPDATE tb_board_tech SET title = #{title}, content = #{content} where idx=#{idx}
	</update>
	
	<!-- 댓글 리스트 -->
	<select id="techReplyList" parameterType="int" resultType="TechReplyVO">
		SELECT * FROM tb_reply_tech WHERE board_idx = #{board_idx}
	</select>
	
	<!-- 댓글 작성 -->
	<insert id="replyWrite" parameterType="TechReplyVO">
		INSERT INTO tb_reply_tech (board_idx, reply_content, writer) VALUES (#{board_idx}, #{reply_content}, #{writer})
	</insert>
	
	<!-- 좋아요 select -->
	<select id="selectTechBoardGood" parameterType="GoodVO" resultType="GoodVO">
		SELECT IFNULL(isGood, FALSE) AS isGood, count(isGood) AS count FROM tb_good_tech RIGHT OUTER JOIN (SELECT '') AS m_dual ON board_idx=#{board_idx} and userId=#{userId}
	</select>
	
	<insert id="insertTechBoardGood" parameterType="GoodVO">
		insert into tb_good_tech (board_idx, userId, isGood) values (#{board_idx}, #{userId}, #{isGood}) 
	</insert>
	
	<update id="updateTechBoardGood" parameterType="GoodVO">
		update tb_good_tech set isGood = #{isGood} where board_idx=#{board_idx} and userId=#{userId}
	</update>
	
	
</mapper>